body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiInputBase-root input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #454A8D inset;
  -webkit-text-fill-color: white;
}

.MuiOutlinedInput-root {
  background-color: transparent !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

